body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: #F3F4F6;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 20px auto;
  background-color: #F3F4F6;
  padding: 20px;
}

.title-app-text {
  color: #4f46E5;
  font-weight: 700;
  text-align: center;
}

.projects-todos-container {
  display: flex;
  gap: 2rem;
}

.projects {
  width: 25%;
}

#projects-list {
  width: 100%;
}

#new-project-btn {
  width: 100%;
  background-color: #22C55E;
  cursor: pointer;
}

.projectsItems{
  width: 100%;
  background-color: #fff;
  color: black;
  cursor: pointer;
  margin-bottom: 1rem;
}

.selectedProject {
  width: 100%;
  background-color: #6366F1;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}

.todos {
  width: 75%; 
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Transición suave */
}

.todo-card:hover {
  transform: scale(1.05);
}

.completed {

  background-color: rgb(183, 181, 181);
}
.todo-title-completed {
  text-decoration: line-through;
}

.card-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 1rem;
}

.fas {
  font-size: 1rem;
  cursor: pointer;
}
.fa-check {
  color: green;
}
.fa-edit {
  color: #3B82F6;
}
.fa-trash {
  color: red;
}



h2 {
  color: #333;
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el modal To-Do */
.task-form-modal,
.project-form-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Central el modal */
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.form-modal-title {
  margin-bottom: 1rem;
  text-align: center;
}

#new-task-form,
#new-project-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#new-project-form label,
#new-task-form label {
  margin-bottom: 5px;
}
#new-task-form input[type="text"],
#new-project-form input[type="text"],
#new-task-form input[type="date"],
#new-task-form textarea,
#new-task-form select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.cancel-task-btn,
.cancel-project-btn {
  background-color: lightgrey;
  color: black;
  transition: transform 0.3s ease;
}
.cancel-task-btn:hover,
.cancel-project-btn:hover {
  background-color: gray;
}
.save-task-btn,
.create-project-btn {
  background-color: #6366F1;
  transition: transform 0.3s ease;
}
.save-task-btn:hover,
.create-project-btn:hover {
  background-color: #4f46E5;
}

.hidden {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

